.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul li,
a,
.texto {
  color: white;
  text-decoration: none;
  list-style: none;
}

.primeranavegacion {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.btn {
  background-color: red !important;
  width: 20%;
  height: 50px;
  color: white;
}

.dropdown-menu {
  background-color: red;
  color: white;
}

.dropdown-item:hover {
  transition: all 1s;
  transform: scale(1);
  width: 20px;
}

.navbar {
  padding: 1px;
  margin: 0;
}

a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  padding: 30px;
  color: white;
  font-size: larger;
  font-family: "Lobster", cursive;
  font-display: swap;
  width: 100%;
}

h2 {
  color: #740000;
}

h3 {
  color: #413e3e;
}

p {
  color: #b6b68d;
  font-size: large;
}

.fotos {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  grid-area: 1/4/7/6;
}

.photo {
  width: 30%;
}

.video {
  width: 30%;
}

.multimedia {
  display: flex;
  justify-content: space-between;
}

/*seccion preguntas*/
.accordion-button {
  background-color: black;
}

.accordion-body {
  background-color: black;
}

.respuesta {
  color: white;
  font-size: medium;
}

/*PIZZAS.HTML*/
.columna {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15%;
  grid-row-gap: 0px;
}

.separar {
  display: grid;
  border: solid 1px white;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*HAMBURGUESAS-Lomos-Empanadas HTML*/
.card-img1 {
  width: 550px;
  height: 300px;
}

.card {
  width: 600px;
  height: 350px;
  background-color: red !important;
}

.carta-productos {
  display: flex;
  flex-wrap: wrap;
}

.padding {
  padding: 10px;
}

.card-text {
  color: white;
}

.mapa {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;
}

.ultimanavegacion {
  display: flex;
  justify-content: right;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    padding: 30px;
    color: white;
    font-size: larger;
    font-style: initial;
    width: 100%;
  }

  h2 {
    color: #740000;
  }

  h3 {
    color: #413e3e;
  }

  p {
    color: #b6b68d;
    font-size: large;
  }

  .fotos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .photo {
    width: 100%;
  }

  .video {
    width: 100%;
  }

  .multimedia {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /*seccion preguntas*/
  .accordion-button {
    background-color: black;
  }

  .accordion-body {
    background-color: black;
  }

  .respuesta {
    color: white;
    font-size: medium;
  }

  .carta-productos {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: black;
    padding: 30px;
    color: white;
    font-size: larger;
    font-style: initial;
    width: 100%;
  }

  h2 {
    color: #740000;
  }

  h3 {
    color: #413e3e;
  }

  p {
    color: #b6b68d;
    font-size: large;
  }

  .fotos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .photo {
    width: 100%;
  }

  .video {
    width: 30%;
  }

  .multimedia {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  /*seccion preguntas*/
  .accordion-button {
    background-color: black;
  }

  .accordion-body {
    background-color: black;
  }

  .respuesta {
    color: white;
    font-size: medium;
  }

  .carta-productos {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
