* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    padding: 30px;
    color: white;
    font-size: larger;
    font-family: 'Lobster', cursive;
    font-display: swap;
    width: 100%;
}
h2 {
    color: rgb(116, 0, 0);
}

h3 {
    color: rgb(65, 62, 62);
}
p {
    color: rgb(182, 182, 141);
    font-size: large;
}
.fotos {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    grid-area: 1 / 4 / 7 / 6;

}

.photo {
    width: 30%;
}

.video {
    width: 30%;
}

.multimedia {
    display: flex;
    justify-content: space-between;
}
/*seccion preguntas*/
.accordion-button{
    background-color: black;
}
.accordion-body{
    background-color:black;
}
.respuesta{
    color: white;
    font-size: medium;
}
/*PIZZAS.HTML*/
.columna {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15%;
    grid-row-gap: 0px;
}
.separar {
    display: grid;
    border: solid 1px white;
}
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*HAMBURGUESAS-Lomos-Empanadas HTML*/

.card-img1{
    width:550px;
    height: 300px;
}
.card{
    width:600px;
    height: 350px;
    background-color: red !important;
}
.carta-productos{
    display: flex;
    flex-wrap: wrap;
}
.padding{
    padding: 10px;
}
.card-text{
    color: white;
}
